@use "variables" as *;

@font-face {
    font-weight: 600;
    font-family: "Fraunces144";
    font-style: normal;
    src: url("./assets/fonts/Fraunces_144pt-SemiBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-weight: 400 700;
    font-family: Monrope;
    font-style: normal;
    src: url("./assets/fonts/Manrope-VariableFont_wght.woff2") format("woff2-variations");
    font-display: swap;
}

// Font Family
$font-primary: "Fraunces144", serif;
$font-secondary: "Monrope", sans-serif;

// Text presets
$text-preset-1: (
    font-size: (
        font-size-1: (fs: 3rem, vw: $viewport-mobile),
        font-size-2: (fs: 3.75rem, vw: $viewport-tablet),
        font-size-3: (fs: 5rem, vw: $viewport-desktop)
    ),
    styles: (
        font-family: $font-primary,
        font-weight: 600,
        line-height: 1,
        letter-spacing: 0
    )
);
$text-preset-2: (
    font-size: (
        font-size-1: (fs: 2rem, vw: $viewport-mobile),
        font-size-2: (fs: 3rem, vw: $viewport-tablet),
        font-size-3: (fs: 3.5rem, vw: $viewport-desktop)
    ),
    styles: (
        font-family: $font-primary,
        font-weight: 600,
        line-height: 1.2,
        letter-spacing: 0
    )
);
$text-preset-3: (
    font-size: (
        font-size-1: (fs: 1.5rem, vw: $viewport-mobile),
        font-size-2: (fs: 1.75rem, vw: $viewport-tablet),
        font-size-3: (fs: 2rem, vw: $viewport-desktop)
    ),
    styles: (
        font-family: $font-primary,
        font-weight: 600,
        line-height: 1.2,
        letter-spacing: 0
    )
);
$text-preset-4: (
    font-size: (
        font-size-1: (fs: 1rem, vw: $viewport-mobile),
        font-size-2: (fs: 1rem, vw: $viewport-tablet),
        font-size-3: (fs: 1.125rem, vw: $viewport-desktop)
    ),
    styles: (
        font-family: $font-secondary,
        font-weight: 400,
        line-height: 1.8,
        letter-spacing: 0
    )
);
$text-preset-5: (
    font-size: (
        font-size-1: (fs: 1.125rem),
    ),
    styles: (
        font-family: $font-secondary,
        font-weight: 700,
        line-height: 1.5,
        letter-spacing: 0
    )
);