// Colors
$color-green: rgb(68 255 160);
$color-purple-900: rgb(36 5 62);
$color-purple-500: rgb(88 77 98);
$color-purple-100: rgb(253 250 255);
$color-white: rgb(255 255 255);

// Spacing
$spacing-100: .5rem;
$spacing-150: .75rem;
$spacing-200: 1rem;
$spacing-250: 1.25rem;
$spacing-300: 1.5rem;
$spacing-350: 1.75rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-550: 2.75rem;
$spacing-600: 3rem;
$spacing-700: 3.5rem;
$spacing-800: 4rem;
$spacing-1000: 5rem;
$spacing-1100: 5.5rem;
$spacing-1400: 7rem;
$spacing-1600: 8rem;
$spacing-1800: 9rem;
$spacing-2000: 10rem;
$spacing-2100: 10.5rem;
$spacing-3700: 18.5rem;

// Viewports
$viewport-mobile: 23.4375rem;
$viewport-tablet: 48rem;
$viewport-desktop: 90rem;


// Effects
$transition-btn-time: .5s;