@use "assets/reset";
@use "assets/variables" as *;
@use "assets/fonts" as *;
@use "assets/fluid-typography" as *;
@use "assets/mixins" as *;

.container {
    padding: 0 clamp-size($spacing-250, $spacing-550, $viewport-mobile, $viewport-tablet);
}

.hero {
    position: relative;
    background-color: $color-purple-900;

    &__navbar {
        padding-block-start: $spacing-400;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        @include d-flex($spacing-500);
        text-align: center;
        padding-block: $spacing-700 $spacing-800;
    }

    &__underline {
        text-decoration: underline $color-green solid .1875rem;
        text-underline-offset: .5rem;
    }

    &__apply-button {
        @include fluid-typography($text-preset-5);
        color: $color-white;
        background: none;
        border: none;
        @extend .hero__underline;
        cursor: pointer;
        transition: color $transition-btn-time;
    }

    &__apply-button:hover {
        color: $color-green;
    }

    &__title {
        @include fluid-typography($text-preset-1);
        color: $color-white;
    }

    &__learn-button {
        @include fluid-typography($text-preset-5);
        color: $color-purple-900;
        background-color: $color-green;
        border: 2px solid $color-green;
        padding: $spacing-150 $spacing-400;
        margin: 0 auto;
        transition: all $transition-btn-time;
        cursor: pointer;
    }

    &__learn-button:hover {
        color: $color-green;
        background-color: $color-purple-900;
    }
}

.hero__secondary {
    position: relative;
    background-color: $color-purple-100;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        inline-size: 100%;
        block-size: 100%;
        background-color: $color-purple-900;
        z-index: 1;
        clip-path: ellipse(100% 55% at 50% 0);
    }
    
    &-image {
        position: relative;
        z-index: 2;
        inline-size: 100%;
        block-size: auto;
        margin: 0 auto;
    }
}

.content {
    background-color: $color-purple-100;
    color: $color-purple-900;

    &__list {
        @include d-flex($spacing-400);
        list-style: none;
        padding-block: $spacing-800;
        text-align: center;
    }

    &__item {
        @include d-flex($spacing-300);
    }

    &__number {
        display: inline-block;
        font-family: $font-primary;
        font-size: 1.25rem;
        line-height: .4;
        padding: $spacing-250;
        border: 1px solid $color-purple-500;
        border-radius: 50%;
        margin: 0 auto;
    }

    &__text {
        @include d-flex($spacing-250);
    }

    &__title {
        @include fluid-typography($text-preset-3);
        display: block;
    }

    &__description {
        @include fluid-typography($text-preset-4);
    }
}

.content_secondary {
    content: '';
    position: relative;
    display: block;
    inline-size: 100%;
    block-size: 6.5vw;
    background-color: $color-purple-100;
    z-index: 1;
    clip-path: ellipse(50% 100% at 50% 0);
}

.founder {
    padding-block-start: $spacing-1400;

    &__container {
        @include d-flex(0);
    }

    &__image {
        margin: 0 auto -3rem auto;
    }

    &__invitation {
        @include d-flex($spacing-400);
        padding: $spacing-400;
        background-color: $color-purple-900;
        color: $color-white;
        text-align: center;
    }

    &__title {
        @include fluid-typography($text-preset-2);
    }

    &__description {
        @include fluid-typography($text-preset-4);
    }

    &__apply-button {
        @extend .hero__learn-button;
    }
}

.footer {
    @include d-flex($spacing-700);
    padding: $spacing-1000 0;
    max-inline-size: 7.25rem;
    margin: 0 auto;

    &__socials {
        display: flex;
        justify-content: space-between;
    }

    &__social-logo {
        inline-size: 1.25rem;
        block-size: 1.25rem;
        transition: all $transition-btn-time;
    }

    &__social-logo:hover {
        filter: brightness(0) 
                saturate(100%) 
                invert(10%) 
                sepia(77%) 
                saturate(1497%) 
                hue-rotate(252deg) 
                brightness(91%) 
                contrast(114%);
    }
}

@media (min-width: $viewport-tablet) {
    .container {
        padding: 0 clamp-size($spacing-550, $spacing-2000, $viewport-tablet, $viewport-desktop);
    }

    .hero {
        position: relative;

        &__navbar {
            padding-block-start: clamp-size($spacing-400, $spacing-700, $viewport-tablet, $viewport-desktop);
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: clamp-size(3.625rem, 8.625rem, $viewport-tablet, $viewport-desktop);
            left: clamp-size(-14rem, -6.3125rem, $viewport-tablet, $viewport-desktop);
            background: url("/assets/images/bg-pattern-1.svg") no-repeat;
            inline-size: 21.3125rem;
            block-size: 19.8125rem;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: clamp-size(16.375rem, 21.375rem, $viewport-tablet, $viewport-desktop);
            right: clamp-size(-5.875rem, -2.875rem, $viewport-tablet, $viewport-desktop);
            background: url("/assets/images/bg-pattern-2.svg") no-repeat;
            inline-size: 10.875rem;
            block-size: 11.3125rem;
            z-index: 2;
        }
    }

    .hero__secondary {
        &-image {
            max-inline-size: 67vw;
        }
    }

    .content {
        &__text {
            text-align: left;
            gap: $spacing-350;
        }

        &__item {
            flex-direction: row;
            align-items: center;
            gap: $spacing-700;
        }

    }

    .founder {
        &__container {
            flex-direction: row;
        }

        &__invitation {
            position: relative;
            inline-size: 75%;
            margin-block-start: $spacing-2100;
            margin-inline-start: auto;
            padding: $spacing-600;
            text-align: left;
        }

        &__invitation::after {
            content: '';
            display: block;
            position: absolute;
            top: 14rem;
            right: clamp-size(.875rem, 6.75rem, $viewport-tablet, $viewport-desktop);
            background: url("/assets/images/bg-pattern-3.svg") no-repeat;
            inline-size: 13.8125rem;
            block-size: 13.25rem;
        }

        &__image {
            position: relative;
            z-index: -1;
            margin-inline: 0 -100%;
            inline-size: clamp-size(17.5rem, 29.8125rem, $viewport-tablet, $viewport-desktop);
            block-size: clamp-size(17.5rem, 29.8125rem, $viewport-tablet, $viewport-desktop);
        }

        &__apply-button {
            margin-inline: 0 auto;
        }
    }

    .footer {
        padding: clamp-size($spacing-1000, $spacing-1400, $viewport-tablet, $viewport-desktop) 0;
    }
}

@media (min-width: $viewport-desktop) {
    .container {
        max-inline-size: 70rem;
        padding: 0;
        margin: 0 auto;
    }

    .hero__secondary {
        &-image {
            max-inline-size: 53vw;
        }
    }

    .content {
        &__list {
            flex-direction: row;
        }

        &__item {
            flex-direction: column;
        }

        &__text {
            text-align: center;
        }
    }

    .founder {
        &__invitation {
            inline-size: 65%;
        }
    }
    
}