@use "assets/reset";
@use "assets/variables" as *;
@use "assets/fonts" as *;
@use "assets/fluid-typography" as *;
@use "assets/mixins" as *;

.container {
    padding: 0 clamp-size($spacing-250, $spacing-550, $viewport-mobile, $viewport-tablet);
}

.hero {
    position: relative;
    background-color: $color-purple-900;

    &__navbar {
        padding-block-start: $spacing-400;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        @include d-flex($spacing-500);
        text-align: center;
        padding-block: $spacing-700 $spacing-800;
    }

    &__underline {
        text-decoration: underline $color-green solid .1875rem;
        text-underline-offset: .5rem;
    }

    &__apply-button {
        @include fluid-typography($text-preset-5);
        color: $color-white;
        background: none;
        border: none;
        @extend .hero__underline;
    }

    &__title {
        @include fluid-typography($text-preset-1);
        color: $color-white;
    }

    &__learn-button {
        @include fluid-typography($text-preset-5);
        color: $color-purple-900;
        background-color: $color-green;
        border: none;
        padding: $spacing-150 $spacing-400;
        margin: 0 auto;
    }
}

.hero__secondary {
    position: relative;
    background-color: $color-purple-100;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        inline-size: 100%;
        block-size: 100%;
        background-color: $color-purple-900;
        z-index: 1;
        clip-path: ellipse(100% 55% at 50% 0);
    }
    
    &-image {
        position: relative;
        z-index: 2;
        inline-size: 100%;
        max-inline-size: 32.125rem;
        block-size: auto;
        margin: 0 auto;
    }
}

.content {
    background-color: $color-purple-100;
    color: $color-purple-900;

    &__list {
        @include d-flex($spacing-400);
        list-style: none;
        padding-block: $spacing-800;
        text-align: center;
    }

    &__item {
        @include d-flex($spacing-300);
    }

    &__number {
        display: inline-block;
        font-family: $font-primary;
        font-size: 1.25rem;
        line-height: .4;
        padding: $spacing-250;
        border: 1px solid $color-purple-500;
        border-radius: 50%;
        margin: 0 auto;
    }

    &__text {
        @include d-flex($spacing-250);
    }

    &__title {
        @include fluid-typography($text-preset-3);
        display: block;
    }

    &__description {
        @include fluid-typography($text-preset-4);
    }
}

.content_secondary {
    content: '';
    position: relative;
    display: block;
    inline-size: 100%;
    block-size: 6.5vw;
    background-color: $color-purple-100;
    z-index: 1;
    clip-path: ellipse(50% 100% at 50% 0);
}

.founder {
    padding-block-start: $spacing-1400;

    &__container {
        @include d-flex(0);
    }

    &__image {
        margin: 0 auto -3rem auto;
    }

    &__invitation {
        @include d-flex($spacing-400);
        padding: $spacing-400;
        background-color: $color-purple-900;
        color: $color-white;
        text-align: center;
    }

    &__title {
        @include fluid-typography($text-preset-2);
    }

    &__description {
        @include fluid-typography($text-preset-4);
    }

    &__apply-button {
        @include fluid-typography($text-preset-5);
        color: $color-purple-900;
        background-color: $color-green;
        border: none;
        padding: $spacing-150 $spacing-400;
        margin: 0 auto;
    }
}

.footer {
    @include d-flex($spacing-700);
    padding: $spacing-1000 0;
    max-inline-size: 7.25rem;
    margin: 0 auto;

    &__socials {
        display: flex;
        justify-content: space-between;
    }

    &__social-logo {
        inline-size: 1.25rem;
        block-size: 1.25rem;
    }
}

@media (min-width: $viewport-tablet) {
    .content {
        &__text {
            text-align: left;
            gap: $spacing-350;
        }

        &__item {
            flex-direction: row;
            align-items: center;
            gap: $spacing-700;
        }
    }
}