@use "assets/reset";
@use "assets/variables" as *;
@use "assets/fonts" as *;
@use "assets/fluid-typography" as *;
@use "assets/mixins" as *;

.container {
    padding: 0 $spacing-250;
}

.hero {
    position: relative;
    background-color: $color-purple-900;

    &__navbar {
        padding-block-start: $spacing-400;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        @include d-flex($spacing-500);
        text-align: center;
        padding-block: $spacing-700 $spacing-800;
    }

    &__underline {
        text-decoration: underline $color-green solid .1875rem;
        text-underline-offset: .5rem;
    }

    &__apply-button {
        @include fluid-typography($text-preset-5);
        color: $color-white;
        background: none;
        border: none;
        @extend .hero__underline;
    }

    &__title {
        @include fluid-typography($text-preset-1);
        color: $color-white;
    }

    &__learn-button {
        @include fluid-typography($text-preset-5);
        color: $color-purple-900;
        background-color: $color-green;
        border: none;
        padding: $spacing-150 $spacing-400;
        margin: 0 auto;
    }
}

.hero__secondary {
    position: relative;
    background-color: $color-purple-100;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        inline-size: 100%;
        block-size: 100%;
        background-color: $color-purple-900;
        z-index: 1;
        clip-path: ellipse(100% 55% at 50% 0);
    }
    
    &-image {
        position: relative;
        z-index: 2;
        inline-size: 100%;
        block-size: auto;
    }
}

.content {
    background-color: $color-purple-100;
    color: $color-purple-900;

    &__list {
        @include d-flex($spacing-400);
        list-style: none;
        padding-block: $spacing-800;
        text-align: center;
    }

    &__number {
        display: inline-block;
        font-family: $font-primary;
        font-size: 1.25rem;
        line-height: .4;
        margin-block-end: $spacing-300;
        padding: $spacing-250;
        border: 1px solid $color-purple-500;
        border-radius: 50%;
    }

    &__title {
        @include fluid-typography($text-preset-3);
        display: block;
        margin-block-end: $spacing-200;
    }

    &__description {
        @include fluid-typography($text-preset-4);
    }
}