/* RESET - Start */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* RESET - stop */
@font-face {
  font-weight: 600;
  font-family: "Fraunces144";
  font-style: normal;
  src: url("../../fonts/Fraunces_144pt-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-weight: 400 700;
  font-family: Monrope;
  font-style: normal;
  src: url("../../fonts/Manrope-VariableFont_wght.woff2") format("woff2-variations");
  font-display: swap;
}
.container {
  padding: 0 clamp(1.25rem, -0.1812977099rem + 6.106870229vi, 2.75rem);
}

.page {
  overflow: hidden;
}

.hero {
  position: relative;
  background-color: rgb(36, 5, 62);
}
.hero__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 2rem;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: center;
  padding-block: 3.5rem 4rem;
}
.hero__underline, .hero__apply-button {
  text-decoration: underline rgb(68, 255, 160) solid 0.1875rem;
  text-underline-offset: 0.5rem;
}
.hero__apply-button {
  font-family: Monrope, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.5s;
}
.hero__apply-button:hover {
  color: rgb(68, 255, 160);
}
.hero__title {
  font-family: Fraunces144, serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  font-size: clamp(3rem, 2.284351145rem + 3.0534351145vi, 3.75rem);
}
@media (min-width: 48rem) {
  .hero__title {
    font-size: clamp(3.75rem, 2.3214285714rem + 2.9761904762vi, 5rem);
  }
}
.hero__title {
  color: rgb(255, 255, 255);
}
.hero__learn-button, .founder__apply-button {
  font-family: Monrope, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
  font-size: 1.125rem;
  margin: 0 auto;
  padding: 0.75rem 2rem;
  color: rgb(36, 5, 62);
  background-color: rgb(68, 255, 160);
  border: 2px solid rgb(68, 255, 160);
  cursor: pointer;
  transition: all 0.5s;
}
.hero__learn-button:hover, .founder__apply-button:hover {
  color: rgb(68, 255, 160);
  background-color: rgb(36, 5, 62);
}

.hero-secondary {
  position: relative;
  background-color: rgb(253, 250, 255);
}
.hero-secondary::after {
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgb(36, 5, 62);
  content: "";
  clip-path: ellipse(100% 55% at 50% 0);
  inline-size: 100%;
  block-size: 100%;
}
.hero-secondary-image {
  position: relative;
  z-index: 2;
  inline-size: 100%;
  block-size: auto;
  margin: 0 auto;
}

.content {
  color: rgb(36, 5, 62);
  background-color: rgb(253, 250, 255);
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  list-style: none;
  padding-block: 4rem;
}
.content__item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.content__number {
  display: inline-block;
  margin: 0 auto;
  padding: 1.25rem;
  font-size: 1.25rem;
  font-family: "Fraunces144", serif;
  line-height: 0.4;
  border: 1px solid rgb(88, 77, 98);
  border-radius: 50%;
}
.content__text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.content__title {
  font-family: Fraunces144, serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
  font-size: clamp(1.5rem, 1.2614503817rem + 1.0178117048vi, 1.75rem);
}
@media (min-width: 48rem) {
  .content__title {
    font-size: clamp(1.75rem, 1.4642857143rem + 0.5952380952vi, 2rem);
  }
}
.content__title {
  display: block;
}
.content__description {
  font-family: Monrope, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0;
  font-size: clamp(1rem, 1rem + 0vi, 1rem);
}
@media (min-width: 48rem) {
  .content__description {
    font-size: clamp(1rem, 0.8571428571rem + 0.2976190476vi, 1.125rem);
  }
}

.content-secondary {
  position: relative;
  z-index: 1;
  display: block;
  background-color: rgb(253, 250, 255);
  content: "";
  clip-path: ellipse(50% 100% at 50% 0);
  inline-size: 100%;
  block-size: 6.5vw;
}

.founder {
  padding-block-start: 7rem;
}
.founder__container {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.founder__image {
  margin: 0 auto -3rem;
}
.founder__invitation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(36, 5, 62);
}
.founder__title {
  font-family: Fraunces144, serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
  font-size: clamp(2rem, 1.0458015267rem + 4.0712468193vi, 3rem);
}
@media (min-width: 48rem) {
  .founder__title {
    font-size: clamp(3rem, 2.4285714286rem + 1.1904761905vi, 3.5rem);
  }
}
.founder__description {
  font-family: Monrope, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0;
  font-size: clamp(1rem, 1rem + 0vi, 1rem);
}
@media (min-width: 48rem) {
  .founder__description {
    font-size: clamp(1rem, 0.8571428571rem + 0.2976190476vi, 1.125rem);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin: 0 auto;
  padding: 5rem 0;
  max-inline-size: 7.25rem;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
}
.footer__social-logo {
  display: block;
  color: rgb(88, 77, 98);
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.5s;
}
.footer__social-logo:hover {
  color: rgb(36, 5, 62);
}

@media (min-width: 48rem) {
  .container {
    padding: 0 clamp(2.75rem, -5.5357142857rem + 17.2619047619vi, 10rem);
  }
  .hero {
    position: relative;
  }
  .hero__navbar {
    padding-block-start: clamp(2rem, 0.2857142857rem + 3.5714285714vi, 3.5rem);
  }
  .hero::before {
    position: absolute;
    top: clamp(3.625rem, -2.0892857143rem + 11.9047619048vi, 8.625rem);
    left: clamp(-14rem, -22.7857142857rem + 18.3035714286vi, -6.3125rem);
    display: block;
    background: url("../images/bg-pattern-1.svg") no-repeat;
    content: "";
    inline-size: 21.3125rem;
    block-size: 19.8125rem;
  }
  .hero::after {
    position: absolute;
    top: clamp(16.375rem, 10.6607142857rem + 11.9047619048vi, 21.375rem);
    right: clamp(-5.875rem, -9.3035714286rem + 7.1428571429vi, -2.875rem);
    z-index: 2;
    display: block;
    background: url("../images/bg-pattern-2.svg") no-repeat;
    content: "";
    inline-size: 10.875rem;
    block-size: 11.3125rem;
  }
  .hero-secondary-image {
    max-inline-size: 67vw;
  }
  .content__text {
    gap: 1.75rem;
    text-align: left;
  }
  .content__item {
    flex-direction: row;
    gap: 3.5rem;
    align-items: center;
  }
  .founder__container {
    flex-direction: row;
  }
  .founder__invitation {
    position: relative;
    inline-size: 75%;
    margin-block-start: 10.5rem;
    margin-inline-start: auto;
    padding: 3rem;
    text-align: left;
  }
  .founder__invitation::after {
    position: absolute;
    top: 14rem;
    right: clamp(0.875rem, -5.8392857143rem + 13.9880952381vi, 6.75rem);
    display: block;
    background: url("../images/bg-pattern-3.svg") no-repeat;
    content: "";
    inline-size: 13.8125rem;
    block-size: 13.25rem;
  }
  .founder__image {
    position: relative;
    z-index: -1;
    margin-inline: 0 -100%;
    inline-size: clamp(17.5rem, 3.4285714286rem + 29.3154761905vi, 29.8125rem);
    block-size: clamp(17.5rem, 3.4285714286rem + 29.3154761905vi, 29.8125rem);
  }
  .founder__apply-button {
    margin-inline: 0 auto;
  }
  .footer {
    padding: clamp(5rem, 2.7142857143rem + 4.7619047619vi, 7rem) 0;
  }
}
@media (min-width: 90rem) {
  .container {
    margin: 0 auto;
    padding: 0;
    max-inline-size: 70rem;
  }
  .hero-secondary-image {
    max-inline-size: 53vw;
  }
  .content__list {
    flex-direction: row;
  }
  .content__item {
    flex-direction: column;
  }
  .content__text {
    text-align: center;
  }
  .founder__invitation {
    inline-size: 65%;
  }
}
